DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

MYSQL_DATABASE=stockly_licencias
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

DB_HOST=db
DB_PORT=3306

STOCKLY_PRIVATE_KEY_PATH=/app/keys/stockly_private.pem